<div>
    <li>
        <a href="{{ url('MesdRuleBundle_Form_listRulesets')}}">List of all Rulesets</a>
    </li>
    <li>
        <a href="{{ url('MesdRuleBundle_Form_displayForm', {'encodedRulesetName' : encodedRulesetName})}}">
            Form for this Set
        </a>
    </li>
</div>
